<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h1>할 일 목록</h1>
    <table class="table table-striped">
        <thead>
        <tr class="table-dark">
            <th>할일</th>
            <th>시작일</th>
            <th>종료일</th>
        </tr>
        </thead>
        <tbody>
        {% if task_list %}
        {% for task in task_list %}
        <tr>
            <td><a href="{% url 'task_app:detail' task.id %}">{{ task.title }}</a></td>
            <td>{{ task.start_date }}</td>
            <td>{{ task.end_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">할일이 등록되지 않았습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if task_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ task_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in task_list.paginator.page_range %}
        {% if page_number >= task_list.number|add:-5 and page_number <= task_list.number|add:5 %}
        {% if page_number == task_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if task_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ task_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <a href="{% url 'task_app:task_create' %}" class="btn btn-secondary">할 일 추가</a>
</div>
{% endblock %}
</body>
</html>