<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <h1 class="border-bottom py-2">{{ task.title }}</h1>
    <div>
        <ul>
            <li>시작일: {{ task.start_date }}</li>
            <li>종료일: {{ task.end_date }}</li>
        </ul>
    </div>
    <h4>메모</h4>
    <div>
        {% if task.memo_set.count %}
        {% for memo in task.memo_set.all %}
        <div class="col">
            <div class="card my-3">
                <div class="card-body">
                    <p class="card-text">{{ memo.content }}</p>
                    <span class="badge bg-light">
                    <small class="text-muted">{{ memo.create_date }}</small>
                </span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div>메모가 없습니다.</div>
        {% endif %}
    </div>
    <form action="{% url 'task_app:memo_create' task.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
            <label for="content" class="form-label">메모하기</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
                      name="content" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="등록" class="btn btn-dark">
    </form>
</div>
{% endblock %}
</body>
</html>